*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator-grid {
  border: 1px solid rgb(139, 113, 0);
  width: fit-content;
  padding: 20px;
  padding-right: 40px;
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.25rem;
  background-color: black;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: minmax(3rem, auto) repeat(5, 4rem);
}

.calculator-grid > button {
  cursor: pointer;
  border-radius: 100%;
  font-size: 1.5rem;
  border: 1px solid rgb(110, 89, 89);
  outline: none;
  background-color: #a5a5a5;
  color: white;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: #dbcaca;
}

.calculator-grid .qmark {
  background-color: #846143;
}

.calculator-grid .operator {
  background-color: #ff9f0b;
  position: relative;
  left: 20px;
}

.calculator-grid .bottom {
  border-radius: 20px;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  position: relative;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -40px;
  background-color: #585657;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0.75rem;
  height: 200px;
}

.output .history {
  position: relative;
  color: white;
  font-size: 1.25rem;
  width: 25%;
  height: 150px;
}

.output .history .history-list {
  max-height: 160px;
  overflow-y: auto;
}
.output .history .history-list::-webkit-scrollbar {
  display: none;
}

.output .history .history-list::-webkit-scrollbar-track {
  display: none;
}
.output .now {
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  text-align: end;
  position: relative;
  top: 60px;
  font-size: 3rem;
  width: 75%;
}
